html {
    scroll-behavior: smooth;
    margin: 0px;
    height: 100%;
}
body {
    background-color: #3292dd;
    font-family: sans-serif;
    text-align: center;
    margin: 0px;
    color: white;
    height: 100%;
}
.navbar {
    background-color: white;
    margin: auto;
    padding: 10px;
    height: 9%;
    width: 100%;
    margin-left: 0px;
    color: #3292dd;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    padding-bottom: 30px;
}
.titleImg {
    background-image: url("../img/photos/index.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(7px);
}
.titleText {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    width: 60%;
    padding: 20px;
    text-align: center;
  }
a {
    font-size: 20px;
    text-decoration: none;
    color: white;
}
a:hover {
    color: white;
}
.login {
    font-size: 20px;
    text-align: center;
    background-color: #3292da;
    float: right;
    width: 10%;
    padding: 10px;
    margin-right: 20px;
    margin-top: 13px;
}
@media screen and (max-width: 1024px) {
    .login {
        width: 30%;
    }
}




/* Login Form */

.background-image {
    background-image: url("../img/photos/DSCF5290.png");
    height: 100%;
    min-height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.container {
    position: absolute;
    right: 0;
    margin: 1%;
    max-width: 300px;
    padding: 16px;
    background-color: white;
    color: #3292dd;
    text-align: left;
    z-index: 2;
    margin-top: 10%;
}
@media screen and (max-width: 1024px) {
    .container {
        margin: auto;
        position: absolute;
        top: 22%;
        right: 22%;
        left: 22%;
        z-index: 0;
    }
    .navbar {
        height: 11%;
    }
}
input[type=email], input[type=password] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
input[type=email]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
    transition: 1s;
}
.btn {
    background-color: #3292dd;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.7;
    transition: 1s;
    margin: auto;
}
  
.btn:hover {
    opacity: 1;
}
#login {
    text-align: center;
}



/* Sidnavbar */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: left;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}
  
.sidenav .closebtn {
    font-size: 36px;
    margin: 10px;
    position: absolute;
    top: 0px;
    left: 5px;
}
.closebtn {
    width: 100%;
}
  
#main {
    transition: margin-left .5s;
    padding: 16px;
    text-align: center;
    margin-top: 65px;
}
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 1024px) {
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        text-align:center;
    }
      
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
      
    }
      
    .sidenav a:hover{
        color: #f1f1f1;
    }
      
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
      
    @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
    }
}

#matchAlert {
    color: red;
    display: none;
}

#create {
    color: #3292da;
}
#createBackground {
    background-image: url(../img/photos/My\ Country.png);
    height: 100%;
    min-height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#accountBack {
    background-image: url(../img/photos/_IGP5635.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.parallax1 {
    background-image: url(../img/photos/index.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    filter: blur(3px);
    margin-top: 51px;
}
.parallax2 {
    background-image: url(../img/logo/Untitled\ drawing.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

#aboutHome {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 150%;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: 0;
    width: 30%;
    padding: 20px;
    text-align: center;
}
@media screen and (max-width: 1024){
    #aboutHome {
        width: 50%;
        left: 10%;
        height: 10%;
    }
}

.left {
    text-align: left;
}
.parallax3 {
    background-image: url(../img/photos/parallax3.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
#whatHome {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 270%;
    left: 70%;
    transform: translate(-50%, -50%);
    z-index: 0;
    width: 30%;
    padding: 20px;
    text-align: center;
}
.footer {
    position: fixed;
    bottom: 0px;
    left: 85%;
    width: 20%;
    opacity: 0.5;
}

#backgroundHomeVid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}



* {
    box-sizing: border-box;
  }
  
  /* The grid: Four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8; 
    cursor: pointer; 
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container */
  .imgcontainer {
    position: relative;
    display: none;
    margin-left: 10px;
    background-color: black;
    margin: auto;
    margin-top: 0%;
    height: 89%;
  }
  
  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  
  /* Closable button inside the expanded image */
  .closebtnimg {
    position: absolute;
    top: 10px;
    left: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }

  .main {
    margin: 1%;
    margin-top: 5%;
  }